<header>
  <div class="content">
    <a routerLink="/" class="logo">Vito Pizza</a>
    <nav class="nav-container">
      <ul class="nav-list">
        <li class="nav-list-item">
          <a routerLink="/cart">
            Cart
            <p class="cart-count">{{ cartItemsCount }}</p>
          </a>
        </li>
      </ul>
    </nav>
    <nav class="nav-container">
      <ul class="nav-list">
        <li class="nav-list-item">
          <a routerLink="/login">
            Login
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>
