<app-not-found
  [visible]="!food"
  notFoundMessage="Food not found!"
  resetLinkText="Go to home page"
></app-not-found>
<div *ngIf="food" class="food-container">
  <img [src]="food.imageUrl" [alt]="food.name" />
  <div class="details">
    <div class="header">
      <span class="name">
        {{ food.name }}
      </span>
    </div>
    <div class="price">
      <span> {{ food.price | currency }} </span>
    </div>
    <button (click)="addToCart()">Add to Cart</button>
  </div>
</div>
