<app-search></app-search>
<app-tags></app-tags>
<app-not-found
  [visible]="!foods || !foods.length"
  notFoundMessage="Food not found!"
  resetLinkText="Show all foods"
></app-not-found>
<ul class="fi-list">
  <li class="fi-list-item" *ngFor="let food of foods">
    <a class="fi-link" routerLink="/food/{{ food.id }}">
      <img class="fi" src="{{ food.imageUrl }}" alt="Food Cuisine" />
      <div class="content">
        <div class="name">
          {{ food.name }}
        </div>
        <div class="price">
          {{ food.price | currency }}
        </div>
      </div>
    </a>
  </li>
</ul>
